#canvas-container {
	position: relative;
	font-family: Lato, sans-serif;
	display: block;
	width: 400px;
	height: 600px;
	margin: 0 auto;
	border: 1px solid white;
}

#canvas-container #btn-pause {
	position: absolute;
	right: 16px;
	top: 24px;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
}

#canvas-container #game-subtitle {
	position: absolute;
	bottom: 2px;
	left: 28%;
	color: white;
	font-size: 14px;
	word-spacing: 9px;
}

#canvas-container #level-title {
	position: absolute;
	left: 7%;
	top: 15%;
	color: white;
	font-size: 16px;
}

#canvas-container #level-msg {
	position: absolute;
	left: 7%;
	top: 20%;
	color: white;
	font-size: 16px;
}

#overlay {
	position: absolute;
	display: block;
	margin: 0 auto;
	left: 12%;
	text-align: center;
	top: 300px;
	height: 300px;
	width: 300px;
	background: none;
	z-index: 10;
}

#overlay p {
	color: white;
	font-size: 26px;
	text-align: center;
}

#overlay #game-title {
	font-size: 70px;
	color: white;
}

#overlay #game-over {
	font-size: 50px;
	line-height: 10px;
}

#btn-continue {
	position: absolute;
	background-color: white;
	border-radius: 5px;
	padding:5px;
	top:40%;
	left: 45%;
}

p {
	text-align: center;
	font-family: Lato, sans-serif;
	color: white;
}

body {
	background: url(../images/background.jpg);
	background-repeat: repeat;
}

a {
	color: white;
	text-decoration: none;
}

h2 {
	color: white;
	font-family: Lato, sans-serif;
	text-align: center;
}
