#canvas-container {
	position: relative;
	font-family: Lato, sans-serif;
	display: block;
	width: 400px;
	height: 600px;
	margin: 0 auto;
	border: 1px solid white;
}

#canvas-container #game-subtitle {
	position: absolute;
	bottom: 2px;
	left: 40%;
	color: white;
	font-size: 14px;
	word-spacing: 9px;
}

#canvas-container #level-title {
	position: absolute;
	left: 9%;
	top: 15%;
	color: white;
	font-size: 16px;
}

#canvas-container #level-msg {
	position: absolute;
	left: 8%;
	top: 20%;
	color: white;
	font-size: 16px;
}

#overlay {
	position: absolute;
	display: block;
	margin: 0 auto;
	left: 13%;
	text-align: center;
	top: 280px;
	height: 300px;
	width: 300px;
	background: none;
	z-index: 10;
}

#overlay p {
	color: white;
	font-size: 26px;
	text-align: center;
}

#overlay #game-title {
	font-size: 70px;
	color: white;
}

#overlay #game-over {
	font-size: 50px;
	line-height: 10px;
}

#btn-continue {
	position: absolute;
	background-color: white;
	border-radius: 5px;
	padding:5px;
	top:40%;
	left: 41%;
}

ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

li {
	font-size: 2em;
	padding: 5px;
}

p {
	text-align: center;
	font-family: Lato, sans-serif;
	color: white;
}

body {
	background: url(../images/background.jpg);
	background-repeat: repeat;
}

a {
	color: white;
	text-decoration: none;
}

h3 {
	color: white;
	font-family: Lato, sans-serif;
	text-align: center;
}
